* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

/* body {
  font-family: "Chakra Petch", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

main {
  background-color: black;
  background-image: url("https://c8.alamy.com/comp/HAGM56/memphis-pattern-seamless-simple-background-fashion-80-90s-black-and-HAGM56.jpg");
}

header h1 {
  text-align: center;
  font-size: 2.5rem;
  margin: 30px auto;
} */